@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>

<p>This is a cool site for teaching about web development, Git, GitHub, Azure, and Azure DevOps. Wow!</p>

<p>This message right here is a bug, and should never appear!</p>
